

body {	
    font-family: 'Raleway';
    margin: 0px;
}

#background {
    background: url('background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Header on Top */
#nav {
    width: 100%;
    height: 80px;
    position: absolute;

}

#nav-container {
padding: 10px 0px;
position: fixed;
width: 100%;
height: 80px;
display: inline-block;
}


.nav-logo {
    width: 70px;
    height:60px;
    margin-right: 55%;
    margin-left:  47%;
    margin-top: -45px;

}

a {
    text-decoration: none;
    color: black;
}

.nav-left {
    font-size: 20px;
    float: left;
    margin-left: 200px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.nav-right {
    font-size: 20px;
    float: right;
    margin-right: 200px;
    letter-spacing: 2px;
    margin-top: 20px;
}

#fam-spine, #fr-spine {
    width: 720px;
    height: 4px;
    background: #4C4C4C;
    border-radius: 2px;
    position: relative;

}

#fr-spine {
    background: white;
}

#fam-container, #fr-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#family {
    position: absolute;
    width: 100%;
    top: 30%;
    margin-top: -50px;
}

#friends {
    position: absolute;
    width: 100%;
    top: 80%;
}



.fam-item, .fr-item {
    width: 30px;
    height: 30px;
    background: white;
    padding: 15px;
    border-radius: 50%;
    border: 3px solid #4C4C4C;
    display: inline-block;
    z-index: 5;
    position: relative;
    top:-35px;
    left:10px;
    margin-left: 60px;
}

.fr-item {
    border: 3px solid white;
    background: #C9C9C9;
}

.highlight {
    border: 3px solid pink;
}


#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;

}

#modal-overlay {
    width: 100%;
    height: 100%;
}

    
#modal-box {
    width: 500px;
    height: 260px;
    background-color: #F8C4B4;
    position: absolute;
    z-index: 100;
    top: calc(50% - 17%);
    left: calc(50% - 20%);

}


#modal-header {
font-size: 20px;
font-weight: 700;
color: white;
padding: 20px;
}


.username  {
border: 5px solid rgba(255, 255, 255, 0.6);
padding: 10px;
background: transparent;
margin: 0px;
margin-bottom: 20px;
margin-left: 20px;
width: 460px;
font-size: 12px;
font-weight: 700;
color: white;
border-color: white;
}

.password  {
border: 5px solid rgba(255, 255, 255, 0.6);
padding: 10px;
background: transparent;
margin: 0px;
margin-bottom: 20px;
margin-left: 20px;
width: 460px;
font-size: 12px;
font-weight: 700;
color: white;
border-color: white;
}

a {
text-decoration: none
}

#submit {
background-color: white;
display:inline-block;
text-align: center;
position: absolute;
margin-left: 270px;
padding: 10px;
width: 80px;
font-size: 14px;
font-weight: 700;
color:#c26465;
cursor: pointer;
}

#cancel {
background-color: white;
display:inline-block;
text-align: center;
position: absolute;
margin-left: 380px;
padding: 10px;
width: 80px;
font-size: 14px;
font-weight: 700;
color:#c26465;
cursor: pointer;
}

.username::-webkit-input-placeholder  {
color: white;
}

.password::-webkit-input-placeholder  {
color: white;
}


.modal-active {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
}



